TBC 501 Web Development/endsem/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns="http://example.com/ns"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Books">
        <xs:complexType>
            <xs:sequence>
                <xs:element name= "title" type="xs:string"/>
                <xs:element name= "author" type="xs:string"/>
                <xs:element name= "isbn" type="xs:string"/>
                <xs:element name= "publication" type="xs:string"/>
                <xs:element name= "price" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>